# Mini Project 1

Remove Duplicate List dengan menggunakan Set dan tanpa set

Buatlah sebuah fungsi, yang menerima suatu argument objek list, dan return sebuah objek list baru, dimana objek list baru ini berisi list sebelumnya dikurangi dengan data yang duplikat, sehingga setiap element di dalam list adalah unik.

Berikan 2 solusi, solusi pertama menggunakan loop dan list, solusi yang kedua menggunakan objek set!

In [ ]:
# obj_list = [1, 2, 4, 6, 2, 1, 4, 5, 7, 8, 6]

# solusi tanpa menggunakan set
def remove_duplicate(obj_list):
    new_list = []
    for num in obj_list:
        if num not in new_list:
            new_list.append(num)
    return new_list

# solusi dengan menggunakan set
def remove_duplicate_with_set(obj_list):
    new_list = []
    seen = set()
    for num in obj_list:
        if num not in seen:
            new_list.append(num)
            seen.add(num)
    return sorted(new_list)

obj_list = [1, 2, 4, 6, 2, 1, 4, 5, 7, 8, 6]
print(remove_duplicate(obj_list))
print(remove_duplicate_with_set(obj_list))

# # output :
# [1, 2, 4, 6, 5, 7, 8]
# [1, 2, 4, 5, 6, 7, 8]

[1, 2, 4, 6, 5, 7, 8]
[1, 2, 4, 5, 6, 7, 8]